<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.file_field :photo %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :name, class: "right inline" %></div>
    <div class="small-9 columns"><%= f.text_field :name %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :description, class: "right inline" %></div>
  <div class="small-9 columns"><%= f.text_area :description %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :vendor, class: "right inline" %></div>
  <div class="small-9 columns"><%= f.text_field :vendor %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :source, class: "right inline" %></div>
  <div class="small-9 columns"><%= f.text_field :source %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :vpn, class: "right inline" %></div>
  <div class="small-9 columns"><%= f.text_field :vpn %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :sku, class: "right inline" %></div>
  <div class="small-9 columns"><%= f.text_field :sku %></div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
    <%= f.label :cost, class: "right inline" %></div>
  <div class="small-9 columns"><%= f.text_field :cost %></div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns"><%= f.submit %></div>
  </div>
<% end %>
